@charset "UTF-8";

.div{
    width: 50%;
}

fieldset{
    border:1px solid white;
    border-color: red;
    border-radius: 10px; 
    font-size: 14px;
    width: 100%;
}
 
legend{
    padding: 5px;
    font-weight: bold;
    color: green;
}

.label{
    color: blue;
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
    font-weight: bolder;
}

.input-texto{
    color: red;
    font-size: 14px;
    border-radius: 3px;
    padding: 6px 9px;
    border: 1px solid rgb(80, 139, 21);
    background-color: rgba(165, 42, 42, 0.439);
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    outline: none;
}

.input-texto:hover{
    border: 3px solid #00aeef;
}

.input-texto:focus{
    border: #ef0000;
    box-shadow: 0px 0px 9px rgba(11, 195, 291, 0.9);
}


